/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
    
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}


/*------------------------------------------ Core --------------------------------------------------*/
noscript{
    backdrop-filter: brightness(10%);
    text-align: center;
    font-size: xx-large;
    font-weight: 700;
    color: red;
}

body {
	line-height: 2;
    color:white;
    background-color: black;
    background-image: url("../img/hellboycolorised") ;
    background-position: 35% 60px;
    background-repeat: no-repeat;
    /*padding: 5%;*/
    margin-top: 3%;
    margin-bottom: 3%;
    height: 100%;
 
    

}

ol, ul {
	list-style-type: style;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}




header{
    margin-left: -5%;
    margin-bottom: 70px;
}



footer{
    background-image: linear-gradient(black 50%,rgb(59, 59, 59));
    background-size:auto;
    position:fixed;
    align-items: center;
    justify-content: space-evenly;
    
    display: flex;
    bottom: 0;
    height: 2.5rem;
    width: 100%;
    left: 0%;
    text-align: center;
    
    
}

/*-------------------------------------------------------------------------------------------------*/







/*----------------------------------------- Navigations bars -------------------------------------*/

nav{
    display:flex;
    justify-content:space-around;
    align-items: center;

  
    width: 100%;
    background-image: radial-gradient(circle,rgb(45,45,45),black) ;
    margin: auto;
    position: fixed;
    top: 0%;
    z-index: 2;
    
}


.navigation{
    display: flex;
    justify-content: space-evenly;
    align-items:center ;
    white-space: nowrap;
    
    list-style: none;
    font-weight: bold;
    font-size: larger;
    margin: auto;
}


/*-------------------------------------------------------------------------------------------------*/


/*----------------------------------- Article / section /p ----------------------------------------*/

article{
    
    width: 65%;
    display: block; 
    text-shadow: 1px 1px 30px black; 
    text-shadow: 1px 1px 30px black; 
    backdrop-filter: brightness(55%) blur(7px);
    margin: auto;
    margin-top: 30px;
    border-radius: 10px;
    border: 3px solid gray;
    padding: 1%;
    transition: ease 0.5s all;

    z-index: 1;


}


article:hover {

    backdrop-filter: brightness(8%) blur(7px);
    box-shadow: 0px 0px 50px white;
    padding : 1.5%;
    
   

    
}



p{
    display: block;
    padding-bottom: 0%;
    margin-left:1%;
    padding-left: 1%;
    margin-bottom: 1%;
    margin-top: 0;
}






/*----------------------------------- Titles ----------------------------------------*/


h2{
    text-decoration:underline;
    font-weight: bold;
    font-size:xx-large;
    font-family:'Times New Roman', Times, serif;
}

h3{
    text-decoration: underline;
    font-weight: bold;
    font-size: large;
    font-family: 'Times New Roman', Times, serif;
}





/*-------------------------------------------- Footer -----------------------------------------------*/






.foot{
    
    display: block;
    padding-left: 3%;
    padding-right: 3%;
    font-style: italic;
    transition: ease 0.5s all;

    text-align: center;
   
    border-radius: 10px;

}



footer figure {
    display: inline-block;
    padding: 0%;
    margin-left: 25%;
}

footer figure img{
    display: block;

    width: 2rem;
    height: 2rem;
    padding: 0px;
    border-radius: 50px;
   
   
}



footer figure img:hover{
    box-shadow:0px 0px 20px white ;
}

#contact,#author{
    padding-top: 25px;
}

/*-------------------------------------------- Link -----------------------------------------------*/


footer a {
    display: block;

    padding-right: 5%;
    font-style: italic;

}

a{
    color: white;
    text-decoration: none;
}


.lien{
    display: inline-block;
  
    padding: 0.3%;
    padding-left:  10%;    
    text-decoration:none;
    margin: 0 15px;



}

.lien a{
    color: whitesmoke;
    background-color: transparent; 
    padding: 10px;
    display: block; 
    border-radius: 10px;
    transition: ease 0.5s all;



}

.lien a:hover{
    
    color:white;
    box-shadow: 0px 0px  30px white;
    
}





a.foot:hover{
    box-shadow: 0px 0px 20px white;
    
}

p a {
    text-decoration: underline;
    font-weight: bold;
    color: lime;
}


#Mignola{
    float: left ;
    object-fit: cover;
    padding: 1%;
    width: 25%;
    height: 25%;

}
/*-------------------------------------------- Forms -----------------------------------------------*/

.button{
    margin: 2%;
    padding: 5px;
    width: 5%;
    display: block;
    background-color: rgb(30,30,30);
    border-radius: 10px;
    color: white;
    border: 5px ridge gray;
    font-size: medium;
    font-weight: normal;
    text-align: center;
}

.button:hover{
    box-shadow: 0px 0px 20px white;
    background-color: rgb(50,50,50);
}
#enregistrement{
    padding-right: 20px;
}




form{
    display: inline-block;
    flex-wrap: wrap;
    width: 60%;
}


label{
    width: 200%;
    padding-right: 25%;
    display: flex;
    margin-top: 3%;
    
}

input{
    width: 100%;
    display: inline-block;
    margin-left: 1%;
    margin-top: 10px;
    margin-bottom: 0px;
    background-color: rgb(40, 40, 40);
    border-color: transparent;
    border-radius: 10px;
    color : white;
    
}
#sub{
    width: 20%;
    font-size: small;
}

#formularArticle{
    backdrop-filter: brightness(20%);
    margin: 10%;
    margin-left: 25%;
    width: 40%;
}

#formularArticle:hover{
    backdrop-filter: brightness(8%);

}
#errorBox{
    color: red;
}

#message{
    height: 25%;
}
strong{
    text-decoration: underline;
    font-weight: bold;
}


#chatInput #sub{
    width: 50%;
}
/*-------------------------------------------------------------------------------------------------*/


/*-------------------------------------------- Form Login -----------------------------------------*/
#usernamelogin{

    background-color: rgb(40, 40, 40);
    border-color: transparent;
    border-radius: 10px;
    color : white;
    width: 220%;
    padding-left: 5px ;
}
#passwordlogin{

    background-color: rgb(40, 40, 40);
    border-color: transparent;
    border-radius: 10px;
    color : white;
    width: 220%;
    padding-left: 5px ;
    margin-bottom: 15px;
}

#formlogin{
    padding: 1%;
    padding-right: 10%;
    margin-left: 3%;
    padding-left: 1%;
    width: 5%;
    text-align: center;

    
    font-size: smaller;
    border: 3px ridge black ;
    border-radius: 10px;
    border-color: black;


}


#logbutton,#logout{
    width: 135px;
    display: inline-block;
    font-size: 1em;
    margin: 5px;
    

}

#enregistrer{
    width: 130px ;
    display: inline-block;
    padding: 0%;
    font-size: 1em;
}
#login-status{
    width: 200%;
    font-size: large;
}


/*-------------------------------------------------------------------------------------------------*/



/*--------------------------------------- Table -----------------------------------------------------*/




table{
    margin: 5%;
    margin-left: 15%;
    border-collapse: collapse;
    border: 5px ridge rgb(30, 30, 30);
    backdrop-filter: brightness(20%);
    transition: 0.5s;
    max-width: 65%;

}
thead{
    font-size: x-large;
    font-weight: bold;
}

th,td{
    border: 3px ridge rgb(40, 40, 40);
    text-align: center;
    min-width: 200px;
    max-width: 600px;
    transition: 0.5s;
    vertical-align: middle;
    font-size: 1.2em;

}

td:hover,th:hover{
    border: 7px solid white;
   

}
table:hover{
    backdrop-filter: brightness(7%);
}


table img{
    width: 50%;
    height: 50%;
}


/*-------------------------------------------------------------------------------------------------*/

/*--------------------------------------- Tablets -----------------------------------------------------*/

@media (max-width:600px) {
    header{
       
        position: fixed;
        margin-bottom: 180px !important;
        background-image: radial-gradient(circle,rgb(45,45,45),black)

    }
    footer {
        display: block;
        position:relative;
        height: auto;
        bottom: 0;
        font-size: small;

    }

    nav{
        width: 100%;
        font-size: 90%;
        z-index: 2 !important;

    }

    body{
        margin-top: 80px;
        margin-bottom: 80px;
    }


  .lien{
    margin: 0;
    padding:0;
    display: block;
    
    }
    #formlogin{
        display: block;
        position: relative;
        width: 40%;
        border: 5px ridge rgb(30,30,30);
        backdrop-filter: brightness(17%);
        border-radius: 25px;
        z-index: -1;

    }
    #usernamelogin{
        width: 100%;

    }
    #passwordlogin{
        width: 100%;

    }
    #logbutton{
        width: 100%;

    }
    #enregistrer{
        width: 100%;
    }
    label{
        
        width: 150%;
        padding-right: 25px;
        text-align: center;
    }
    h2{
        font-size: large;
    }
    article{
        margin: 70px;
        width: 70%;
        display: block;
        position: relative;
        
    }
    article:hover{
        margin: 10%;
        font-size: large;
        width: 80%;
    }
    #login-status{
        width: 70%;
        font-size: medium;
    }
    #logout{
        width: 100%;
    }

    table{
        margin: 5%;
        margin-left: 5%;
        margin-right: 0%;

        border-collapse: collapse;
        border: 5px ridge rgb(30, 30, 30);
        backdrop-filter: brightness(20%);
        transition: 0.5s;
        min-width: 120%;
    
    
    }
    
    table img{
        width: 100%;
        height: 100%;
    }

    td,th{
        min-width: 50px;
        max-width: 500px;
        
        font-size: large;
    }
    td{
        width: 250px;
    }
    td:hover{
      zoom: 1.5; 


    }

    
    th:hover{
        zoom: 5;
    }
    thead th:hover{
        zoom: 2;
    }
    
    .button{
        font-size: medium;
    }

    footer{
        width: 130%;
    }
    
}

/*-------------------------------------------------------------------------------------------------*/