/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
    
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	line-height: 2;
    color:white;
    background-color: black;
    background-image: url("src/img/hellboycolorised") ;
    background-position: 35% 60px;
    background-repeat: no-repeat;
    /*padding: 5%;*/
    margin-top: 3%;

    height: 100%;
 
    

}

ol, ul {
	list-style-type: style;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}




header{
    margin-left: -5%;
    margin-bottom: 70px;
}
nav{
    display:flex;
    justify-content:space-around;
    align-items: center;

  
    width: 100%;
    background-image: radial-gradient(circle,rgb(45,45,45),black) ;
    margin: auto;
    position: fixed;
    top: 0%;
    z-index: 2;
    
}
#Sign{
    
    padding-left: 500px;
    padding-top: 20px;
}
a{
    color: white;
    text-decoration: none;
}

.navigation{
    display: flex;
    justify-content: space-evenly;
    align-items:center ;
    white-space: nowrap;
    
    list-style: none;
    font-weight: bold;
    font-size: larger;
    margin: auto;
}

footer{
    background-image: linear-gradient(black 50%,rgb(59, 59, 59));
    background-size:auto;
    position:fixed;
    align-items: center;
    justify-content: space-evenly;
    
    display: flex;
    bottom: 0;
    height: 2.5rem;
    width: 100%;
    left: 0%;
    text-align: center;
    
    
}

article{
    
    width: 45%;
    display: block; 
    text-shadow: 1px 1px 30px black; 
    text-shadow: 1px 1px 30px black; 
    backdrop-filter: brightness(55%) blur(3px);
    margin: auto;
    margin-top: 30px;
    border-radius: 10px;
    border: 3px solid gray;
    padding: 1%;

    z-index: 1;


}

h2{
    text-decoration:underline;
    font-weight: bold;
    font-size:x-large;
    font-family:'Times New Roman', Times, serif;
}

h3{
    text-decoration: underline;
    font-weight: bold;
    font-size: large;
    font-family: 'Times New Roman', Times, serif;
}
article:hover {

    backdrop-filter: brightness(18%) blur(3px);
    box-shadow: 0px 0px 50px white;
    padding : 1.5%;
    
   

    
}

.article{
    opacity: 100%;
    transition: ease 1.5s all;


}

section{
    opacity: 1;
}


.lien{
    display: inline-block;
  
    padding: 0.3%;
    padding-left:  10%;    
    text-decoration:none;
    margin: 0 15px;



}

.lien a{
    color: whitesmoke;
    background-color: transparent; 
    padding: 10px;
    display: block; 
    border-radius: 10px;
    transition: ease 1.5s all;



}

.lien a:hover{
    
    color:white;
    box-shadow: 0px 0px  30px white;
    
}




.foot{
    
    display: block;
    padding-left: 3%;
    padding-right: 3%;
    font-style: italic;
    transition: ease 1.5s all;

    text-align: center;
   
    border-radius: 10px;

}
footer a {
    display: block;

    padding-right: 5%;
    font-style: italic;

}


footer figure {
    display: inline-block;
    padding: 0%;
    margin-left: 25%;
}

footer figure img{
    display: block;

    width: 2rem;
    height: 2rem;
    padding: -50px;
    border-radius: 50px;
   
   
}

a.foot:hover{
    box-shadow: 0px 0px 20px white;
    
}

footer figure img:hover{
    box-shadow:0px 0px 20px white ;
}
input{
    width: 15%;
    display: inline-block;
    margin-left: 1%;
    margin-top: 10px;
    margin-bottom: 0px;
    background-color: rgb(30,30,30);
    color : white;
    
}

.button{
    margin: 2%;
    padding: 5px;
    width: 5%;
    display: block;
    background-color: rgb(30,30,30);
    border-radius: 10px;
    color: white;
    border: 5px ridge gray;
}
.button:hover{
    box-shadow: 0px 0px 20px white;
    background-color: rgb(50,50,50);
}
#enregistrement{
    padding-right: 20px;
}


p{
    display: block;
    padding-bottom: 0%;
    margin-left:1%;
    padding-left: 1%;
    margin-bottom: 0%;
    margin-top: 0;
}


form{
    display: inline-block;
    flex-wrap: wrap;
    width: 60%;
}


label{
    display: flex;
    margin-top: 3%;
    
}









@media (max-width:600px) {
    header{
       
        position: fixed;
        margin-bottom: 150px !important;
        background-image: radial-gradient(circle,rgb(45,45,45),black)
    }
    footer {
        display: block;
        position:relative;
        height: auto;
        bottom: 0;
        font-size: small;

    }

    nav{
        position: absolute;
        top: -80px;
        display: flex;
        justify-content: center;
        
        background-image: radial-gradient(circle,rgb(45,45,45),black);
    }
  .lien{
    margin: 0;
    padding:0;
    display: block;
    
}
    article{
        margin: 70px;
        width: 80%;
        display: block;
        position: relative;
        
    }
    article:hover{
        margin: 10%;
        font-size: large;
        width: 80%;
    }
}